.Nav
{
    width: 100%;
    height: 40px;
    background-color: rgb(62, 62, 62);
    padding: 5px;
    margin: 0px;
    display: flex;
    /* justify-content: start; */
    /* align-items: center */
}

.NavImg
{
    max-width: 90%;
    max-height: 90%;
    
    margin-top: 3px;
    margin-bottom: 3px;
    vertical-align: top;
    margin-left: 7px;
    margin-right: 7px;
    /* 
    display: inline-block; */
}


.NavL
{
    display: flex;
    justify-content: start;
}

.NavR
{
    display: flex;
    flex-direction: row;
}

.NavR2
{
    min-width: 90%;
    min-height: 100%;
    display: flex;
    justify-content: flex-end;
}

.Timer
{
   border: 30px groove black;
   border-radius: 25%;
   width:80%;
   height: 100%;
   margin-left: 10%;
   background-color: rgba(255, 255, 255);
   
}

.Timer_title
{
    font-family: "Fantasy";
    font-size: 45px;
}

.Timer_control0
{
    display: inline-block;
    /* width: 45%; */
    padding-left: 15px;
    font-family: "Fantasy";
    color: rgb(0, 0, 0);
    font-size: 60px;
    margin-bottom: 0px;
}

.Timer_control1
{
    display: inline-block;
    /* width: 45%; */
    padding-left: 15px;
    font-family: "Fantasy";
    color: rgb(0, 0, 0);
    font-size: 60px;
    margin-bottom: 0px;
}

.Timer_control2
{
    display: inline-block;
    /* width: 45%; */
    padding-left: 15px;
    font-family: "Fantasy";
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.Timer_control3
{
    display: inline-block;
    /* width: 45%; */
    padding-left: 15px;
    font-family: "Fantasy";
    color: rgb(0, 0, 0);
    font-size: 30px;
}