body {
    font-family: system-ui;
    background: white;
    color: black;
    text-align: center;
    
  }
  
  .stage
  {
    border: 5px solid black;
    background: rgb(96, 108, 221);
    height: 300px;
    width:90%;
    padding: 15px;
    display: inline-block; 
  }
  
  section>p
  {
  /*   background: gray; */
    display: inline-block;
  /*   float: left; */
    width: 60%;
    height: 90%;
    margin:10px;
    vertical-align: top;
  /*   text-align: center; */
  }
  
  section>p+p
  {
    background: red;
    display: inline-block;
    width: 35%;
    height: 90%;
    vertical-align: top;
  }
  
  section>p+img
  {
    background: red;
    display: inline-block;
  /*   float: rigth; */
    margin:10px;
    width: 30%;
    height: 90%;
    border: 3px solid #ddd;
  /*   vertical-align: botton; */
  }
  
  .intro
  {
    background: Black;
    height:  20px;
    margin:  15px;
  }
  
  h1
  {
    color: red;
    text-align: center;
  }
  
  /* section label
  {
    color: black;
    display: inline-block;
    width:  47%;
    text-align: rigth;
  }
  
  section input
  {
    color: black;
    display: inline-block;
    width:  47%;
    text-align: left;
  } */