.App 
{
    text-align: center;
    /* background-color: aqua; */
    background-image: url("../image/background/Babycontrol2.png") ;
    /* background-size: contain; */
    /* background-size: cover; */
    /* background-size: 100% 100%; */
    background-position: center;
    background-repeat: repeat;
    height:100%;
    min-height: 900px;   
}

@media only screen and (max-width: 767px) {
    .App {
        background: url("../image/background/Babycontrol2.png") ;
    }
  }
  

.AppNav
{
    width: 100%;
    height: 40px;
    background-color: rgb(62, 62, 62);
    padding: 0px;
    margin: 0px;
}

.ControlB
{
    width: 100%;
    /* margin-left: 5%; */
    height: 100%;
    
    
    /* padding: 0px;
    margin: 0px; */
}
