.message_title
{
    background-color: white;
    display: inline-block;
    width: 60%;
}

.message_hidd
{
    width: 80%;
    height: 50px;
    border: 2px solid black;
    margin-left: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
}

.mess_color
{
    width: 80%;
    height: 50px;
    border: 2px solid black;
    margin-left: 10%;
    background-color: aqua;
}

.mess_color2
{
    width: 80%;
    height: 50px;
    border: 2px solid black;
    margin-left: 10%;
    background-color: red;
}

.mess_picture
{
    /* display: inline-block; */
    display: flex;
    max-width: 90%;
    max-height: 90%;
    margin-top: 2px;
    top: 100%;
    /* right: 0%; */
}



.title_mess
{
    display: flex;
    vertical-align: top;
    padding-left: 12px;
    margin-right: 12px;
    width: 25%;
}

@media only screen and (max-width: 767px) {
    .title_mess {
        float: left;
        width: 70%;
        font-size: 20px;
    }

    .mess_picture
    {
        float: right;
    }


  }