.controlBS
{
    width: 100%;
    /* margin-left: 2%; */
    height: 100%;
    background-color: transparent;
}


.message_p
{
    border: 2px solid black;
    margin-bottom: 12px;
    width: 60%;
    border-radius: 15px;
    display: inline-block; 
    max-height: 1000px;
    min-height: 120px;
    background: white;

    padding-right: 12px;
}

.participant_p
{
    border: 2px solid black;
    margin-bottom: 12px;
    width: 50%;
    border-radius: 50%;
    display: inline-block; 
    max-height: 1000px;
    min-height: 120px;
    background: white;

    padding-right: 12px;
}

.message_control
{
    /* display:flex; */
    
}

.message_name
{
    /* flex: 1; */
    display: inline-block;
    min-height: 100%;
    height: 100%;
    width: 40%;
    /* background: red; */
    vertical-align: top;
    align-items: stretch;
    justify-content: space-around;

    /* padding-top: 25%; */

}

.message_body
{
    display: inline-block;
    border-left: solid black 7px;
    flex:1;
    width: 58%;
    
}

.message_gender
{
    display: inline-block;
    width: 100%;
    height: 45%;
    min-height: 70px;
    vertical-align: top;
    margin-bottom: 3px;
    /* background-color: aqua; */
    border-bottom: solid black 7px;

}
.message_gg
{
    display: inline-block;
    padding-top: 20px;
    margin-right: 15px;
}
.message_picture
{
    display: inline-block;
    max-width: 15%;
    max-height: 15%;
    margin-top: 4px;
    vertical-align: top;
    border: 5px red solid;
    padding: 5px;
    border-radius: 50%;
}

.message_expected
{
    display: inline-block;
    width: 50%;
    text-align: center;
}


.message_message
{
    width: 100%;
    height: 45%;
    display: inline-block;
    min-height: 30px;
    text-align: center;
    padding: 8px;
}


.bg-primary{
    color: red;

} 

.bg-secondary{
    color: blue;

} 

.bg-success{
    color: green;

} 

.bg-danger{
    color: rgb(146, 146, 62);
} 

.bg-warning{
    color: rgb(126, 4, 131);
}

.bg-info{
    color: black;
} 


.input_r[type=text] {
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../image/search.png') ;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    background-size: 25px 50%;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    margin-bottom: 15px;
  }
  
  .input_r[type=text]:focus {
    width: 50%;
  }



@media only screen and (max-width: 767px) {
    div.message_p
    {
        padding-right: 0px;
    }
    section.message_name{
            border-radius: 13px;
            display: inline-block;
            min-height: 100%;
            height: 100%;
            width: 100%;
            background: red;
            vertical-align: top;
            border-bottom: solid black 7px;
    }

    section.message_body
    {
        display: inline-block;
        border-left: none;
        width: 100%;
        /* background: aqua; */
    }

    .message_gg
    {
        display: inline-block;
        padding-top: 10px;
        margin-right: 15px;
    }

    .message_picture
    {
        border: 3px red solid;
        padding: 5px;
        border-radius: 50%;
    }

    .message_message
    {
        width: 95%;
        height: 45%;
        /* display: inline-block; */
        /* min-height: 30px; */
        text-align: left;
        padding: 8px;
        /* margin-right: 15px; */
        /* background: aqua; */
    }


  }
