.SurveyApp {
  text-align: center;
  background-color: black;
}

section.SurveyAppNav
{
  width: 100%;
  height: 40px;
  background-color: rgb(62, 62, 62);
}

body {
    font-family: system-ui;
    background: white;
    color: black;
    text-align: center;
    
  }
  
  .stage
  {
    border: 5px  black;
    background: rgb(152, 158, 214);
    border-radius: 50px;
    min-height: 300px;
    width:90%;
    padding: 15px;
    display: inline-block; 
  }
  
  section>p
  {
    display: inline-block;
    width: 60%;
    height: 90%;
    margin:10px;
    vertical-align: top;
  }
  
  /* section>p+p
  {
    background: red;
    display: inline-block;
    width: 35%;
    height: 90%;
    vertical-align: top;
  } */

  .space_div
  {
    margin-bottom: 10px;
  }

  .survey_left
  {
    display: inline-block;
    width: 40%;
    height: 20%;
    text-align: right;
    vertical-align: top;
    margin-bottom: 20px;
    margin-right: 3%;
  }

  .survey_rigth
  {
    display: inline-block;
    width: 40%;
    height: 20%;
    text-align: left;
    vertical-align: top;
    margin-bottom: 15px;
  }

  .survey_rigth_input
  {
    display: inline-block;
    width: 40%;
    height: 20%;
    text-align: left;
    vertical-align: top;
    margin-bottom: 15px;
  }

  section>p+img
  {
    background: red;
    display: inline-block;
    margin:10px;
    width: 30%;
    height: 90%;
    border: 3px solid #ddd;
  }
  
  .intro
  {
    background: Black;
    height:  20px;
    margin:  15px;
  }
  
  .Surveyh1
  {
    color: red;
    text-align: center;
  }

  .survey_bottom
  {
    width: 75px;
    height: 25px;
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
  }

  .survey_error
  {
    margin-left: 10%;
    width: 80%;
    padding: 2%;
    border: 2px solid red;
    background-color: rgb(195, 124, 124);
    color: rgb(107, 2, 2);
  }
  
  /* section label
  {
    color: black;
    display: inline-block;
    width:  47%;
    text-align: rigth;
  }
  
  section input
  {
    color: black;
    display: inline-block;
    width:  47%;
    text-align: left;
  } */

.stageF
{
    border: 5px  black;
    background: rgb(152, 158, 214);
    border-radius: 50px;
    width:90%;
    padding: 15px;
    display: inline-block; 
}

@media only screen and (max-width: 767px) {
  .title_mess {
      width: 50%;
  }

  .survey_rigth_input
  {
    /* display: inline-block; */
    width: 65%;
    /* height: 20%;
    text-align: left;
    vertical-align: top;
    margin-bottom: 15px; */
  }
}
