.SurveyApp {
  text-align: center;
  background-color: black;
}

section.SurveyAppNav
{
  width: 100%;
  height: 40px;
  background-color: rgb(62, 62, 62);
}

body {
    font-family: system-ui;
    background: white;
    color: black;
    text-align: center;
    
  }
  
.stage
{
    border: 5px  black;
    
    min-height: 300px;
    width:90%;
    /* margin-left: 5%; */
    display: inline-block;
    padding: 15px;
    padding-bottom: 20px;
    overflow: hidden;
    border-radius: 50px;
    /* display: inline-block;  */
}

.st0
{
  /* background: rgb(152, 158, 214); */
    background: rgb(146, 218, 175); 

  /* background: white; */
}



.stage_p
{
    border-radius: 50px;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 30%;
    float: left;
    /* background: rgb(152, 158, 214); */
    /* background: white; */
    background: rgb(146, 218, 175); 
    height: 600px;
    border: 5px black;
    border: 10px solid transparent;
    
    /* max-height: 600px; */
}
  
  .stage_img
  {
    margin-left: 5%;
    float: right;
    border: 10px solid white;
    width: 40%;
    margin-right: 5%;
    max-height: 600px;
    vertical-align: top;
  }
  

  section>p
  {
    display: inline-block;
    width: 60%;
    margin:10px;
    /* vertical-align: top; */
  }
  

  .space_div
  {
    margin-bottom: 10px;
  }

  .survey_left
  {
    display: inline-block;
    width: 40%;
    height: 20%;
    text-align: right;
    vertical-align: top;
    margin-bottom: 20px;
    margin-right: 3%;
  }

  .survey_rigth_i
  {
      width: 50%;
  }

  .survey_rigth
  {
    display: inline-block;
    width: 40%;
    height: 20%;
    text-align: left;
    vertical-align: top;
    margin-bottom: 15px;
  }

  .survey_rigth_iX
  {
    display: inline-block;
    width: 40%;
    height: 20%;
    text-align: left;
    vertical-align: top;
    margin-bottom: 15px;
  }

  section>p+img
  {
    background: red;
    display: inline-block;
    margin:10px;
    width: 30%;
    height: 90%;
    border: 3px solid #ddd;
  }
  
  .intro
  {
    /* background: Black; */
    height:  20px;
    margin:  15px;
  }
  
  .Surveyh1
  {
   background-color: white;
   width: 70%;
    text-align: center;
    display: inline-block;
  }

  .survey_bottom
  {
    width: 75px;
    height: 25px;
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
  }

  .survey_error
  {
    margin-left: 10%;
    width: 80%;
    padding: 2%;
    border: 2px solid red;
    background-color: rgb(195, 124, 124);
    color: rgb(107, 2, 2);
  }

.stageF
{
    border: 5px  black;
    background: rgb(152, 158, 214);
    border-radius: 50px;
    width:90%;
    padding: 15px;
    display: inline-block; 
}



@media only screen and (max-width: 767px) {
  .title_mess {
      width: 50%;
  }

  

  .stage_p
  {
    width: 100%;
    height: auto;
    border-radius: 50px;
    margin-left: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    float: none;
    
    max-height: 600px;
    border: 5px black;
  }
  
  .stage_img
  {
    /* margin-left: 7%; */
    float: none;

    width: 70%;
    max-height: 600px;
  }

  .survey_rigth
  {
    width: 100%;
  }

  .survey_rigth_i
  {
      width: 80%;
      margin-left: 10%;
  }

  .survey_rigth_iX
  {
    width: 80%;
  }

  .survey_left
  {
      width: 80%;
      margin-left: 10%;
      text-align: center;
  }
  
}



 /* The Modal (background) */

.modalContent {
  padding-top: 25%;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 300px;
  height: 170px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}




