
.login_box
{
    border: 2px solid black;
    margin-top:55px;
    max-width: 50%;
    margin-left: 25%;
    padding-top: 1%;
    padding-bottom: 3%;
    border-radius: 15px;
}

.login_space
{
    margin-bottom: 15px;
}

.error_log
{
    border: 2px solid red;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 15px;
    background-color: rgb(243, 145, 145);
}

.error_text
{
    color: rgb(197, 3, 3);
}

/* CSS */
.button-24 {
    margin-right:12px;
    background: #42b0ff;
    border: 1px solid #42b0ff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  /* background-color: initial; */
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}





.button-25 {
    margin-right:12px;
    background: #42b0ff;
    border: 1px solid #42b0ff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin-bottom: 5px;;
}

.button-25:hover,
.button-25:active {
  /* background-color: initial; */
  /* background-color: initial; */
    background-position: 0 0;
    min-height: 50px;
    font-size: 19px;
    font-weight: 830;
  /* color: #FF4742; */
}

.button-25:active {
  opacity: .5;
}


@media only screen and (max-width: 767px) {

  .login_space
  {
      margin-bottom: 25px;
  }

}


